.rating-line {
	background: #d1d7e0;
	height: 10px;
	min-width: 10px;
	max-width: 145px;
	&.--level-1 {
		background: #d1d7e0;
	}
	&.--level-2 {
		background: #a8bad3;
	}
	&.--level-3 {
		background: #7e9cc5;
	}
}
