<section class="article-intro">
  <div class="container">
    <img
      src="../images/src/cyprus-1.jpg"
      alt=""
      class="article-intro__img desktop-only"
    />
  </div>
  <div class="container container--small">
    <div class="article-intro__header">
      <p class="text-mono">July 2021</p>
      <h1 class="page-title">Cyprus Investor Immigration Program</h1>
    </div>
  </div>
  <img
    src="../images/src/cyprus-1.jpg"
    alt=""
    class="article-intro__img mobile-only"
  />
</section>
