<section class="country-mobility">
	<div class="container section-wrapper">
		<div class="section-header country-mobility__header">
			<h2 class="section-title">Enhanced Mobility Index</h2>
			<img
				src="/images/dist/global.svg"
				alt=""
				class="country-mobility__header-icon mobile-only"
			/>
		</div>
		<div class="section-content">
			<div style="position: relative">
				<img
					src="/images/dist/world.svg"
					alt=""
					class="desktop-only country-mobility__map"
				/>
				<div class="country-mobility__score">
					<h3 class="text-mono country-mobility__label">
						Enhanced mobility score
					</h3>
					<p class="text-bold country-mobility__score-value">345.7</p>
				</div>
			</div>

			<ul class="country-mobility__list">
				<li class="country-mobility__list-item">
					<p class="text-bold country-mobility__list-value">68</p>
					<h4 class="text-mono country-mobility__label">Countries</h4>
				</li>
				<li class="country-mobility__list-item">
					<p
						class="
							text-bold
							country-mobility__list-value
							country-mobility__list-value--blue
						"
					>
						20
					</p>
					<h4 class="text-mono country-mobility__label">
						Free Access
					</h4>
				</li>
				<li class="country-mobility__list-item">
					<p
						class="
							text-bold
							country-mobility__list-value
							country-mobility__list-value--lightblue
						"
					>
						20
					</p>
					<h4 class="text-mono country-mobility__label">
						Electronic Visa
					</h4>
				</li>
				<li class="country-mobility__list-item">
					<p class="text-bold country-mobility__list-value">20</p>
					<h4 class="text-mono country-mobility__label">
						Free Access<br />
						(limited days)
					</h4>
				</li>
				<li class="country-mobility__list-item">
					<p class="text-bold country-mobility__list-value">8</p>
					<h4 class="text-mono country-mobility__label">
						Electronic Travel<br />
						Authorization(eTA)
					</h4>
				</li>
				<li class="country-mobility__list-item">
					<p class="text-bold country-mobility__list-value">10</p>
					<h4 class="text-mono country-mobility__label">
						On-arrival visas
					</h4>
				</li>
				<li class="country-mobility__list-item">
					<p class="text-bold country-mobility__list-value">18</p>
					<h4 class="text-mono country-mobility__label">
						Visa Required
					</h4>
				</li>
				<li class="country-mobility__list-item">
					<p class="text-bold country-mobility__list-value">23</p>
					<h4 class="text-mono country-mobility__label">
						Refused entry
					</h4>
				</li>
			</ul>
		</div>
	</div>
</section>
