<section class="country-investment">
  <div class="container section-wrapper">
    <div class="section-header country-investment__header">
      <h2 class="section-title">Investment Index</h2>
    </div>
    <div class="section-content">
      <div class="country-investment__wrapper">
        <div class="country-investment__rates">
          <div class="country-investment__rates-item">
            <h3 class="text-mono country-investment__rates-label">
              GNI per capita
            </h3>
            <p class="country-investment__rates-value">$70 440</p>
          </div>
          <div class="country-investment__rates-item">
            <h3 class="text-mono country-investment__rates-label">
              Personal tax rate
            </h3>
            <p class="country-investment__rates-value">22%</p>
          </div>
        </div>
        <img
          src="../images/src/country-investment-graph.svg"
          alt=""
          class="country-investment__graph"
        />
        <ul class="country-investment__list">
          <li class="country-investment__list-item">
            <div class="circle"></div>
            <p class="text-mono country-investment__label">
              Global competitiveness
            </p>
          </li>
          <li class="country-investment__list-item">
            <div class="circle"></div>
            <p class="text-mono country-investment__label">Product market</p>
          </li>
          <li class="country-investment__list-item">
            <div class="circle"></div>
            <p class="text-mono country-investment__label">Labor market</p>
          </li>
          <li class="country-investment__list-item">
            <div class="circle"></div>
            <p class="text-mono country-investment__label">Financial system</p>
          </li>
          <li class="country-investment__list-item">
            <div class="circle"></div>
            <p class="text-mono country-investment__label">Market size</p>
          </li>
          <li class="country-investment__list-item">
            <div class="circle"></div>
            <p class="text-mono country-investment__label desktop-only">
              Business dynamism & <br />
              Innovation capability
            </p>
            <p class="text-mono country-investment__label mobile-only">
              Dynamism & <br />
              Innovation
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
