<section class="country-intro">
	<div class="container">
		<div class="country-intro__header">
			<div class="country-intro__title">
				<img
					src="/images/dist/flags/usa.svg"
					alt=""
					class="country-intro__flag"
				/>
				<h1 class="page-title">United States of America</h1>
			</div>
			<button class="btn btn__primary btn--full-m desktop-only">
				Compare
			</button>
		</div>
		<div class="country-intro__wrapper">
			<div></div>
			<div class="country-intro__main">
				<img
					src="/images/dist/usa-map.svg"
					alt=""
					class="country-intro__map"
				/>
				<div class="country-intro__details">
					<div class="country-intro__details-item">
						<h3 class="text-mono country-intro__label">
							Population
						</h3>
						<p class="text-bold country-intro__details-value">
							948 118 519
						</p>
					</div>
					<div class="country-intro__details-item">
						<h3 class="text-mono country-intro__label">
							Global passport index
						</h3>
						<div
							class="rankings__position rankings__position--huge"
						>
							10
							<sup class="rankings__position--small">th</sup>
						</div>
					</div>
				</div>
			</div>
			<div class="country-intro__list">
				<div class="country-intro__list-item">
					<img
						src="/images/dist/mobility-2.svg"
						alt=""
						class="country-intro__index-icon"
					/>
					<h3 class="text-mono country-intro__label">
						Enhanced <br />
						mobility <br />
						index
					</h3>
					<div class="rankings__position">
						1
						<sup class="rankings__position--small">st</sup>
					</div>
				</div>
				<div class="country-intro__list-item">
					<img
						src="/images/dist/investment-2.svg"
						alt=""
						class="country-intro__index-icon"
					/>
					<h3 class="text-mono country-intro__label">
						Investment <br />
						index
					</h3>
					<div class="rankings__position">
						1
						<sup class="rankings__position--small">st</sup>
					</div>
				</div>
				<div class="country-intro__list-item">
					<img
						src="/images/dist/quality-2.svg"
						alt=""
						class="country-intro__index-icon"
					/>
					<h3 class="text-mono country-intro__label">
						Quality <br />
						of living <br />
						index
					</h3>
					<div class="rankings__position">
						10
						<sup class="rankings__position--small">th</sup>
					</div>
				</div>
			</div>
		</div>
		<button class="btn btn__primary btn--full-m mobile-only">
			Compare
		</button>
		<button class="btn btn__secondary btn--full-m country-intro__btn">
			Improve you passport power
		</button>
	</div>
</section>
