<section class="country-quality">
	<div class="container section-wrapper">
		<div class="section-header country-quality__header">
			<h2 class="section-title">Quality of Living Index</h2>
		</div>
		<div class="section-content">
			<div class="country-quality__wrapper">
				<div class="country-quality__rates">
					<div class="country-quality__rates-item">
						<h3 class="text-mono country-quality__rates-label">
							Migrant acceptance
						</h3>
						<p class="country-quality__value">Low acceptance</p>
					</div>
					<div class="country-quality__rates-item">
						<h3 class="text-mono country-quality__rates-label">
							Happiness score
						</h3>
						<p class="country-quality__value">Least happy</p>
					</div>
				</div>
				<img
					src="/images/dist/country-quality-graph.svg"
					alt=""
					class="country-quality__graph"
				/>
				<ul class="country-quality__list">
					<li class="country-quality__list-item">
						<div class="country-quality__list-left">
							<div class="circle"></div>
							<p class="text-mono country-quality__label">
								SDG Index
							</p>
						</div>
						<p class="country-quality__value">
							Lower-Intermediate Performance
						</p>
					</li>
					<li class="country-quality__list-item">
						<div class="country-quality__list-left">
							<div class="circle"></div>
							<p class="text-mono country-quality__label">
								Cost of <br />
								Living index
							</p>
						</div>
						<p class="country-quality__value">More Expensive</p>
					</li>
					<li class="country-quality__list-item">
						<div class="country-quality__list-left">
							<div class="circle"></div>
							<p class="text-mono country-quality__label">
								Freedom in <br />
								world index
							</p>
						</div>
						<p class="country-quality__value">Partially Free</p>
					</li>
					<li class="country-quality__list-item">
						<div class="country-quality__list-left">
							<div class="circle"></div>
							<p class="text-mono country-quality__label">
								Environmental <br />
								performance index
							</p>
						</div>
						<p class="country-quality__value">Laggards</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
