<section class="experts">
	<div class="container section-wrapper">
		<h2 class="section-title">
			The experts behind the Global passport index methodology
		</h2>
		<div class="section-content experts__content">
			<p class="section-text mobile-only">
				The final dimension of the Global Passport Index aims to capture
				a number of facets related to the overall “quality of life” in
				different jurisdictions. The focus is on aspects that increase
				the “attractiveness” of countries as a permanent/primary place
				of residence for different types of global citizens including
				retirees, but also expats, digital nomads, and others seeking
				desirable living conditions abroad. A number of thematic areas
				were prioritized and research was undertaken to identify
				reliable data sources with as comprehensive country coverage as
				possible. 6 main components are included in this dimension
			</p>
			<div class="experts__block">
				<div class="experts__photo">
					<img
						src="/images/dist/experts-1.jpg"
						alt=""
						class="experts__photo-img"
					/>
				</div>
				<div class="experts__info">
					<h3 class="section-title experts__name">
						Roberto de Pinho
					</h3>
					<p class="section-text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						Mattis sed purus eu dictum neque platea. Eu sollicitudin
						urna, sit fames in. Ipsum integer ut auctor id amet
						lacus nisi.
					</p>
					<img
						src="/images/dist/signature-1.svg"
						alt=""
						class="experts__signature"
					/>
				</div>
			</div>
			<div class="experts__block">
				<div class="experts__info">
					<h3 class="section-title experts__name">
						Vladimir López-Bassols
					</h3>
					<p class="section-text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						Vulputate maecenas lectus facilisis tortor non arcu.
						Vitae rhoncus tellus elit massa nulla sit. Et sapien
						porta arcu arcu, mauris mattis nisl leo. Hendrerit
						imperdiet viverra nec, malesuada et quisque adipiscing
						eget enim.
					</p>
					<img
						src="/images/dist/signature-2.svg"
						alt=""
						class="experts__signature"
					/>
				</div>
				<div class="experts__photo">
					<img
						src="/images/dist/experts-2.jpg"
						alt=""
						class="experts__photo-img"
					/>
				</div>
			</div>
		</div>
	</div>
</section>
