<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__item">
        <h2 class="footer__title">Developed in partnership with</h2>
        <a href="#" class="footer__logo">
          <img
            src="../images/src/logo/footer-logo.png"
            alt=""
            class="footer__logo-icon"
          />
        </a>
      </div>
      <div class="footer__item"></div>
      <div class="footer__item footer__nav">
        <a href="#" class="footer__nav-link desktop-only"
          >Global passport index</a
        >
        <a href="#" class="footer__nav-link desktop-only"
          >Enhanced mobility index</a
        >
        <a href="#" class="footer__nav-link desktop-only">Investment index</a>
        <a href="#" class="footer__nav-link desktop-only"
          >Quality of living index</a
        >
      </div>
      <div class="footer__item footer__nav">
        <a href="#" class="footer__nav-link desktop-only">Methodology</a>
        <a href="#" class="footer__nav-link">About us</a>
        <a href="#" class="footer__nav-link">Press</a>
        <a href="#" class="footer__nav-link desktop-only"
          >Global Citizen Solutions</a
        >
      </div>
    </div>
    <div class="footer__rights">
      All rights reserved ®Global Citizen Services 2021
    </div>
  </div>
</footer>