<header class="header">
  <div class="container header__container">
    <img src="/images/dist/logo/horizontal.svg" alt="" class="header__logo" />
    <img
      src="/images/dist/burger.svg"
      alt="burger icon"
      class="header__burger mobile-only"
    />

    <nav id="header-nav" class="header__nav nav">
      <!-- --active -->
      <img src="/images/dist/close-icon.svg" class="nav__close mobile-only" />
      <div class="nav__links">
        <a href="/"> Home </a>
        <a href="" class="active"> Global passport <br />power </a>
        <a href=""> Enhanced mobility <br />index </a>
        <a href=""> Investment <br />index </a>
        <a href=""> Quality of living <br />index </a>
        <a href="/methodology.html"> Methodology </a>
        <a href=""> Press </a>
      </div>
    </nav>
  </div>
</header>
