<section class="intro">
    <div class="container intro__wrapper">
        <div class="intro__text-block">
            <h1 class="page-title">
                A new way to rank the power of a passport 
            </h1>
            <p class="section-text">
                The true power of a passport is not just about how many countries you can access, but the quality of life and economic opportunities a country can offer its citizens.
            </p>
        </div>
        <div class="intro__image-wrapper">
            <img src="../images/src/home-intro.jpg" alt="" class="intro__image desktop-only">
        </div>
    </div>
</section>