<section class="media-press">
  <div class="container section-wrapper">
    <h2 class="section-title desktop-only">Press releases</h2>
    <div class="section-content media__list">
      <div class="media__item media-press__item">
        <div class="text-mono">July 2021</div>
        <h3 class="media-title media-press__item-title">
          Top 10 global passport power ranking
        </h3>
        <div class="media__item-bottom">
          <p class="section-text">
            A look at the top ten passports in the world and how you can use
            them to increase your mobility.
          </p>
          <button class="btn btn__secondary">Download PDF</button>
        </div>
      </div>
      <div class="media__item media-press__item">
        <div class="text-mono">July 2021</div>
        <h3 class="media-title media-press__item-title">
          Continents of<br />
          power
        </h3>
        <div class="media__item-bottom">
          <p class="section-text">
            A look at the top ten passports in the world and how you can use
            them to increase your mobility.
          </p>
          <button class="btn btn__secondary">Download PDF</button>
        </div>
      </div>
      <div class="media__item media-press__item">
        <div class="text-mono">July 2021</div>
        <h3 class="media-title media-press__item-title">
          A new way to rank the power of passports
        </h3>
        <div class="media__item-bottom">
          <p class="section-text">
            A look at the top ten passports in the world and how you can use
            them to increase your mobility.
          </p>
          <button class="btn btn__secondary">Download PDF</button>
        </div>
      </div>
      <div class="media__item media-press__item">
        <div class="text-mono">July 2021</div>
        <h3 class="media-title media-press__item-title">
          The world’s cost of living report 2021
        </h3>
        <div class="media__item-bottom">
          <p class="section-text">
            A look at the top ten passports in the world and how you can use
            them to increase your mobility.
          </p>
          <button class="btn btn__secondary">Download PDF</button>
        </div>
      </div>
    </div>
  </div>
</section>
