<section class="media-articles">
  <div class="container section-wrapper">
    <h2 class="section-title desktop-only">Artciles</h2>
    <div class="section-content media__list">
      <div class="media__item media-articles__item">
        <img
          src="../images/src/article-1.jpg"
          alt=""
          class="media-articles__img"
        />
        <div class="text-mono">July 2021</div>
        <h3 class="media-title media-articles__item-title">
          Cyprus Investor Immigration Program
        </h3>
        <div class="media__item-bottom">
          <p class="section-text">
            Cyprus, a Mediterranean land of incredible beauty, charm, and
            history. Thousands upon thousands ..
          </p>
          <button class="btn btn__secondary">Read more</button>
        </div>
      </div>
      <div class="media__item media-articles__item">
        <img
          src="../images/src/article-2.jpg"
          alt=""
          class="media-articles__img"
        />
        <div class="text-mono">July 2021</div>
        <h3 class="media-title media-articles__item-title">
          Luxembourg Investor Visa
        </h3>
        <div class="media__item-bottom">
          <p class="section-text">
            Luxembourg may be a small European Union country, but the nation is
            extremely wealthy and safe.
          </p>
          <button class="btn btn__secondary">Read more</button>
        </div>
      </div>
      <div class="media__item media-articles__item">
        <img
          src="../images/src/article-3.jpg"
          alt=""
          class="media-articles__img"
        />
        <div class="text-mono">July 2021</div>
        <h3 class="media-title media-articles__item-title">
          Netherlands Golden Visa
        </h3>
        <div class="media__item-bottom">
          <p class="section-text">
            As an EU country, the Netherlands is an extremely attractive country
            to live in that’s packed with art,
          </p>
          <button class="btn btn__secondary">Read more</button>
        </div>
      </div>
      <div class="media__item media-articles__item">
        <img
          src="../images/src/article-4.jpg"
          alt=""
          class="media-articles__img"
        />
        <div class="text-mono">July 2021</div>
        <h3 class="media-title media-articles__item-title">
          Austria Citizenship By Investment
        </h3>
        <div class="media__item-bottom">
          <p class="section-text">
            Austria, the land of breathtaking mountains, world-renowned Bavarian
            cuisine, and rich cultural activities.
          </p>
          <button class="btn btn__secondary">Read more</button>
        </div>
      </div>
    </div>
  </div>
</section>
