<section class="intro methodology-intro">
  <div class="container intro__wrapper">
    <div class="intro__text-block">
      <h1 class="page-title">Methodology</h1>
      <p class="section-text">
        It relies on hundreds of different indicators, collected by many and
        diverse institutions, a colossal investment of resources and talent that
        often start at local statistical offices and involve multilateral
        organizations.
      </p>
      <p class="section-text desktop-only">
        Any views presented here solely of the authors. They do not necessarily
        reflect the views of Global Citizen Solutions or any institutions with
        which the authors are or may have been affiliated.
      </p>
    </div>
  </div>
</section>
