<section class="methodology">
	<div class="container section-wrapper">
		<h2 class="section-title">Methodology</h2>
		<div class="section-content">
			<p class="section-text">
				Global Passport Index is challenging the status quo of previous
				passport ranking platforms with a quantitative methodology that
				takes into consideration not just the number of countries one
				can travel visa free but also the quality of life and ease of
				doing business.
			</p>
			<img
				src="/images/dist/methodology-m.svg"
				alt=""
				class="methodology__image mobile-only"
			/>
			<img
				src="/images/dist/methodology-d.svg"
				alt=""
				class="methodology__image desktop-only"
			/>
			<button class="btn btn__secondary">Read methodology</button>
		</div>
	</div>
</section>
