<section class="methodology-passport">
	<div class="container section-wrapper">
		<h2 class="section-title">Global Passport Index</h2>

		<div class="section-content section-content--methodology">
			<div>
				<p class="section-text">
					The Global Passport Index is composed of three standalone
					indices: the Enhanced Mobility Index, the Investment Index,
					and the Quality of Living Index.
				</p>
				<p class="section-text">
					With the Enhanced Mobility Index, we intended to go beyond a
					simple count of the number of countries or territories a
					passport gives immediate access to. We, therefore, not only
					assess the different levels of access a passport may provide
					(from unlimited visa-free access to restricted travel) but
					also give scores to the country or territory it is giving
					access to, according to its overall “attractiveness”.
				</p>
			</div>
			<div class="desktop-only"></div>
			<div class="methodology-passport__graph-wrapper mobile-only">
				<ul class="methodology-passport__list">
					<li class="methodology-passport__list-item">
						<div class="text-mono">Enhanced Mobility</div>
						<img
							src="/images/dist/mobility-2.svg"
							alt=""
							class="methodology-page__icon"
						/>
					</li>
					<li class="methodology-passport__list-item">
						<div class="text-mono">Investment</div>
						<img
							src="/images/dist/investment-2.svg"
							alt=""
							class="methodology-page__icon"
						/>
					</li>
					<li class="methodology-passport__list-item">
						<div class="text-mono">Quality of Living</div>
						<img
							src="/images/dist/quality-2.svg"
							alt=""
							class="methodology-page__icon"
						/>
					</li>
				</ul>
				<img
					src="/images/dist/passport-graph-m.svg"
					alt=""
					class="methodology-page__graph"
				/>
			</div>
			<img
				src="/images/dist/passport-graph.svg"
				alt=""
				class="methodology-page__graph desktop-only"
			/>
		</div>
	</div>
</section>
