<section class="methodology-mobility">
	<div class="container section-wrapper">
		<div class="section-header">
			<h2 class="section-title">Enhanced Mobility Index</h2>
			<img
				src="/images/dist/mobility.svg"
				alt=""
				class="section-header-icon"
			/>
		</div>
		<div class="section-content">
			<div class="section-content__item">
				<div>
					<p class="section-text">
						The Enhanced Mobility Index is the first of the three
						dimensions of the Global Passport Index and the one
						carrying the most weight, responsible for 50% of the
						composite score.
					</p>
					<p class="section-text">
						With the Enhanced Mobility Index, we intended to go
						beyond a simple count of the number of countries or
						territories a passport gives immediate access to. We,
						therefore, not only assess the different levels of
						access a passport may provide (from unlimited visa-free
						access to restricted travel) but also give scores to the
						country or territory it is giving access to, according
						to its overall “attractiveness”.
					</p>
				</div>
				<div
					class="
						methodology-mobility__block
						methodology-mobility__block--bg
					"
				>
					<h3 class="text-mono methodology-mobility__subtitle">
						Visa Requirement types and respective weights
					</h3>
					<ul
						class="
							methodology-mobility__list
							methodology-mobility__list--second
						"
					>
						<li class="methodology-mobility__list-item">
							<h4
								class="
									text-mono text-mono--grey
									methodology-mobility__list-label
								"
							>
								Visas
							</h4>

							<h4
								class="
									text-mono text-mono--grey
									methodology-mobility__list-label
								"
							>
								Weight
							</h4>
						</li>
						<li
							class="
								methodology-mobility__list-item
								methodology-mobility__list-item--border
							"
						>
							<div class="methodology-mobility__list-value">
								Visa-Free Access
							</div>
							<div class="methodology-mobility__list-value">
								1.0
							</div>
						</li>
						<li
							class="
								methodology-mobility__list-item
								methodology-mobility__list-item--border
							"
						>
							<div class="methodology-mobility__list-value">
								Visa-Free Access (limited days)
							</div>

							<div class="methodology-mobility__list-value">
								1.0
							</div>
						</li>
						<li
							class="
								methodology-mobility__list-item
								methodology-mobility__list-item--border
							"
						>
							<div class="methodology-mobility__list-value">
								Electronic Travel Authorization (eTA)
							</div>
							<div class="methodology-mobility__list-value">
								0.9
							</div>
						</li>
						<li
							class="
								methodology-mobility__list-item
								methodology-mobility__list-item--border
							"
						>
							<div class="methodology-mobility__list-value">
								On-arrival Visa
							</div>
							<div class="methodology-mobility__list-value">
								0.9
							</div>
						</li>
						<li
							class="
								methodology-mobility__list-item
								methodology-mobility__list-item--border
							"
						>
							<div class="methodology-mobility__list-value">
								Electronic Visa
							</div>
							<div class="methodology-mobility__list-value">
								0.5
							</div>
						</li>
						<li
							class="
								methodology-mobility__list-item
								methodology-mobility__list-item--border
							"
						>
							<div class="methodology-mobility__list-value">
								Visa Required
							</div>
							<div class="methodology-mobility__list-value">
								0.00
							</div>
						</li>
						<li
							class="
								methodology-mobility__list-item
								methodology-mobility__list-item--border
							"
						>
							<div class="methodology-mobility__list-value">
								Refused entry
							</div>
							<div class="methodology-mobility__list-value">
								-1.0
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div></div>
			<div class="section-content__item">
				<div>
					<p class="section-text">
						The Enhanced Mobility Index is the first of the three
						dimensions of the Global Passport Index and the one
						carrying the most weight, responsible for 50% of the
						composite score.
					</p>
					<p class="section-text">
						With the Enhanced Mobility Index, we intended to go
						beyond a simple count of the number of countries or
						territories a passport gives immediate access to. We,
						therefore, not only assess the different levels of
						access a passport may provide (from unlimited visa-free
						access to restricted travel) but also give scores to the
						country or territory it is giving access to, according
						to its overall “attractiveness”.
					</p>
				</div>

				<div>
					<div class="methodology-mobility__block">
						<h3 class="text-mono methodology-mobility__subtitle">
							Enhanced Mobility Index score formula
						</h3>
						<div class="methodology-mobility__formula">
							<div
								class="
									methodology-mobility__formula-item
									methodology-mobility__formula-item--symbol
								"
							>
								∑
							</div>
							<div class="methodology-mobility__formula-item">
								Visa Requirement Type
							</div>
							<div
								class="
									methodology-mobility__formula-item
									methodology-mobility__formula-item--symbol
								"
							>
								✖
							</div>
							<div class="methodology-mobility__formula-item">
								Quality of Living <br />
								Weight of Destination
							</div>
						</div>
					</div>
					<div
						class="
							methodology-mobility__block
							methodology-mobility__block--bg
						"
					>
						<h3 class="text-mono methodology-mobility__subtitle">
							Adopted lower limits and weights for determining
							destination based Quality of Living Index tiers
						</h3>
						<ul class="methodology-mobility__list">
							<li class="methodology-mobility__list-item">
								<h4
									class="
										text-mono text-mono--grey
										methodology-mobility__list-label
									"
								>
									Quality of Living <br />
									Index Tiers
								</h4>
								<h4
									class="
										text-mono text-mono--grey
										methodology-mobility__list-label
									"
								>
									Lower limit <br />
									score
								</h4>
								<h4
									class="
										text-mono text-mono--grey
										methodology-mobility__list-label
									"
								>
									Weight
								</h4>
							</li>
							<li
								class="
									methodology-mobility__list-item
									methodology-mobility__list-item--border
								"
							>
								<div class="methodology-mobility__list-value">
									1
								</div>
								<div class="methodology-mobility__list-value">
									68.5
								</div>
								<div class="methodology-mobility__list-value">
									1.00
								</div>
							</li>
							<li
								class="
									methodology-mobility__list-item
									methodology-mobility__list-item--border
								"
							>
								<div class="methodology-mobility__list-value">
									2
								</div>
								<div class="methodology-mobility__list-value">
									60.1
								</div>
								<div class="methodology-mobility__list-value">
									0.75
								</div>
							</li>
							<li
								class="
									methodology-mobility__list-item
									methodology-mobility__list-item--border
								"
							>
								<div class="methodology-mobility__list-value">
									3
								</div>
								<div class="methodology-mobility__list-value">
									49.3
								</div>
								<div class="methodology-mobility__list-value">
									0.50
								</div>
							</li>
							<li
								class="
									methodology-mobility__list-item
									methodology-mobility__list-item--border
								"
							>
								<div class="methodology-mobility__list-value">
									4
								</div>
								<div class="methodology-mobility__list-value">
									N.A
								</div>
								<div class="methodology-mobility__list-value">
									0.33
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
