<section class="rankings">
	<div class="container section-wrapper">
		<h2 class="section-title">Top passports in individual rankings</h2>
		<div class="section-content rankings__wrapper">
			<div class="rankings__block">
				<img
					src="/images/dist/mobility.svg"
					alt=""
					class="rankings__icon"
				/>
				<h3 class="section-title">Mobility index</h3>
				<p class="section-text">
					The Enhanced Mobility Index is the first of the three
					dimensions of the Global Passport Index and the one carrying
					the most weight, responsible for 50% of the composite score.
				</p>
				<ul class="rankings__list">
					<li class="rankings__list-item">
						<a href="#">
							<div class="rankings__position">
								1
								<sup class="rankings__position--small">st</sup>
							</div>
							<div class="rankings__country">
								<img
									src="/images/dist/_flags/UAE.svg"
									alt=""
									class="rankings__flag"
								/>
								<p class="rankings__country-name">
									United Arab Emirates
								</p>
							</div>
						</a>
					</li>
					<li class="rankings__list-item">
						<a href="#">
							<div class="rankings__position">
								2
								<sup class="rankings__position--small">nd</sup>
							</div>
							<div class="rankings__country">
								<img
									src="/images/dist/_flags/japan.svg"
									alt=""
									class="rankings__flag"
								/>
								<p class="rankings__country-name">Japan</p>
							</div>
						</a>
					</li>
					<li class="rankings__list-item">
						<a href="#">
							<div class="rankings__position">
								3
								<sup class="rankings__position--small">
									rd
								</sup>
							</div>
							<div class="rankings__country">
								<img
									src="/images/dist/_flags/germany.svg"
									alt=""
									class="rankings__flag"
								/>
								<p class="rankings__country-name">Germany</p>
							</div>
						</a>
					</li>
				</ul>
				<button class="btn btn__secondary">View full ranking</button>
			</div>
			<div class="rankings__block">
				<img
					src="/images/dist/investment.svg"
					alt=""
					class="rankings__icon"
				/>
				<h3 class="section-title">Investment index</h3>
				<p class="section-text">
					The Economy Index, aims to provide a general assessment of
					an economy as an option for investment and other business
					decisions.
				</p>
				<ul class="rankings__list">
					<li class="rankings__list-item">
						<a href="#">
							<div class="rankings__position">
								1
								<sup class="rankings__position--small">st</sup>
							</div>
							<div class="rankings__country">
								<img
									src="/images/dist/_flags/UAE.svg"
									alt=""
									class="rankings__flag"
								/>
								<p class="rankings__country-name">
									United Arab Emirates
								</p>
							</div>
						</a>
					</li>
					<li class="rankings__list-item">
						<a href="#">
							<div class="rankings__position">
								2
								<sup class="rankings__position--small">nd</sup>
							</div>
							<div class="rankings__country">
								<img
									src="/images/dist/_flags/japan.svg"
									alt=""
									class="rankings__flag"
								/>
								<p class="rankings__country-name">Japan</p>
							</div>
						</a>
					</li>
					<li class="rankings__list-item">
						<a href="#">
							<div class="rankings__position">
								3
								<sup class="rankings__position--small">
									rd
								</sup>
							</div>
							<div class="rankings__country">
								<img
									src="/images/dist/_flags/germany.svg"
									alt=""
									class="rankings__flag"
								/>
								<p class="rankings__country-name">Germany</p>
							</div>
						</a>
					</li>
				</ul>
				<button class="btn btn__secondary">View full ranking</button>
			</div>
			<div class="rankings__block">
				<img
					src="/images/dist/quality.svg"
					alt=""
					class="rankings__icon"
				/>
				<h3 class="section-title">Quality of living index</h3>
				<p class="section-text">
					Assessing the availability and cost of day-to-day amenities
					such as infrastructure, cost of living, personal and
					political freedom, environmental quality and attitudes
					towards foreigners.
				</p>
				<ul class="rankings__list">
					<li class="rankings__list-item">
						<a href="#">
							<div class="rankings__position">
								1
								<sup class="rankings__position--small">st</sup>
							</div>
							<div class="rankings__country">
								<img
									src="/images/dist/_flags/UAE.svg"
									alt=""
									class="rankings__flag"
								/>
								<p class="rankings__country-name">
									United Arab Emirates
								</p>
							</div>
						</a>
					</li>
					<li class="rankings__list-item">
						<a href="#">
							<div class="rankings__position">
								2
								<sup class="rankings__position--small">nd</sup>
							</div>
							<div class="rankings__country">
								<img
									src="/images/dist/_flags/japan.svg"
									alt=""
									class="rankings__flag"
								/>
								<p class="rankings__country-name">Japan</p>
							</div>
						</a>
					</li>
					<li class="rankings__list-item">
						<a href="#">
							<div class="rankings__position">
								3
								<sup class="rankings__position--small">
									rd
								</sup>
							</div>
							<div class="rankings__country">
								<img
									src="/images/dist/_flags/germany.svg"
									alt=""
									class="rankings__flag"
								/>
								<p class="rankings__country-name">Germany</p>
							</div>
						</a>
					</li>
				</ul>
				<button class="btn btn__secondary">View full ranking</button>
			</div>
		</div>
	</div>
</section>
