<div class="share-desktop desktop-only">
	<div class="container">
		<div class="share-desktop__wrapper">
			<button class="btn btn__secondary">Download</button>
			<div class="share-desktop__share">
				<h2 class="share-desktop__title">Share this</h2>
				<ul class="share-desktop__list">
					<li class="share-desktop__list-item">
						<a href="#">
							<img
								src="/images/dist/linkedin.svg"
								alt=""
								class="share-desktop__icon"
							/>
						</a>
					</li>
					<li class="share-desktop__list-item">
						<a href="#">
							<img
								src="/images/dist/facebook.svg"
								alt=""
								class="share-desktop__icon"
							/>
						</a>
					</li>
					<li class="share-desktop__list-item">
						<a href="#">
							<img
								src="/images/dist/twitter.svg"
								alt=""
								class="share-desktop__icon"
							/>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
