<ul class="continent-list">
	<li class="active">
		<a href="#">
			<img src="/images/dist/continents/Oceania.svg" alt="Oceania icon" />
			<span>Oceania</span>
		</a>
	</li>
	<li>
		<a href="#">
			<img src="/images/dist/continents/Asia.svg" alt="Asia icon" />
			<span>Asia</span>
		</a>
	</li>
	<li>
		<a href="#">
			<img src="/images/dist/continents/America.svg" alt="America icon" />
			<span>America</span>
		</a>
	</li>
	<li>
		<a href="#">
			<img src="/images/dist/continents/Africa.svg" alt="Africa icon" />
			<span>Africa</span>
		</a>
	</li>
	<li>
		<a href="#">
			<img src="/images/dist/continents/Europe.svg" alt="Europe icon" />
			<span>Europe</span>
		</a>
	</li>
</ul>
