<ul class="select-list --countries">
	<li class="active">
		<a href="#">
			<img
				src="/images/dist/_flags/germany.svg"
				alt="Germany flag icon"
			/>
			<span>Germany</span>
		</a>
	</li>

	<li>
		<a href="#">
			<img src="/images/dist/_flags/ghana.svg" alt="Ghana flag icon" />
			<span>Ghana</span>
		</a>
	</li>

	<li>
		<a href="#">
			<img
				src="/images/dist/_flags/guatemala.svg"
				alt="Guatemala flag icon"
			/>
			<span>Guatemala</span>
		</a>
	</li>

	<li>
		<a href="#">
			<img src="/images/dist/_flags/guinea.svg" alt="Guinea flag icon" />
			<span>Guinea</span>
		</a>
	</li>

	<li>
		<a href="#">
			<img src="/images/dist/_flags/greece.svg" alt="Greece flag icon" />
			<span>Greece</span>
		</a>
	</li>

	<li>
		<a href="#">
			<img
				src="/images/dist/_flags/georgia.svg"
				alt="Georgia flag icon"
			/>
			<span>Georgia</span>
		</a>
	</li>
</ul>
