.country-intro {
  padding: 40px 0;
  @include media-breakpoint-up(xl) {
    padding: 85px 0;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    align-items: center;
    @include media-breakpoint-up(xl) {
      margin-bottom: 65px;
    }
  }
  &__title {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    h1 {
      font-size: 54px;
      margin-bottom: 0;
    }
  }
  &__flag {
    margin-top: 10px;
    min-width: 75px;
  }
  &__wrapper {
    margin-bottom: 50px;
    @include media-breakpoint-up(xl) {
      display: grid;
      gap: 20px;
      grid-template-columns: 1fr 8fr 3fr;
      align-items: flex-start;
      margin-bottom: 100px;
    }
  }
  &__main {
    display: grid;
    gap: 20px;
    grid-template-columns: 2fr 1fr;
    @include media-breakpoint-up(xl) {
      grid-template-columns: 4fr 3fr;
      gap: 105px;
    }
  }
  &__map {
    display: block;
    max-width: 100%;
    width: 100%;
  }
  &__details {
    @include media-breakpoint-up(xl) {
      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-end;
    }
  }
  &__details-item {
    margin-bottom: 14px;
    @include media-breakpoint-up(xl) {
      margin-bottom: 40px;
    }
  }
  &__details-value {
    font-weight: bold;
    @include media-breakpoint-up(xl) {
      font-size: 48px;
      line-height: 56px;
    }
  }
  &__label {
    margin-bottom: 10px;
    @include media-breakpoint-up(xl) {
      margin-bottom: 20px;
    }
  }
  &__list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 45px;
    @include media-breakpoint-up(xl) {
      margin-top: 0;
    }
  }
  &__list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .country-intro__label {
      margin-bottom: 15px;
      @include media-breakpoint-up(xl) {
        margin-bottom: 23px;
      }
    }
  }
  &__index-icon {
    display: block;
    margin-bottom: 20px;
    height: 30px;
  }
  .btn {
    margin-bottom: 20px;
    @include media-breakpoint-up(xl) {
      margin-bottom: 0;
    }
  }
  &__btn {
    margin: 0 auto;
  }
  .rankings__position--huge {
    @include media-breakpoint-up(xl) {
      font-weight: bold;
      font-size: 98.15px;
      line-height: 115px;
      letter-spacing: -0.04em;
      width: fit-content;
      padding: 0 25px 0 50px;
      height: auto;
      border-radius: 755px;
      sup {
        font-size: 27px;
        line-height: 31px;
      }
    }
  }
}
