.footer {
	padding: 25px 0;
	background-color: var(--color-darkblue);
	@include media-breakpoint-up(xl) {
		padding: 50px 0 35px;
	}
	&__wrapper {
		display: flex;
		flex-direction: column;
		gap: 20px;
		@include media-breakpoint-up(xl) {
			flex-direction: row;
		}
	}
	&__item {
		display: flex;
		flex-direction: column;
		@include media-breakpoint-up(xl) {
			flex: 1;
		}
	}
	&__nav {
		gap: 32px;
		@include media-breakpoint-up(xl) {
			gap: 25px;
		}
		a {
			font-size: 14px;
			font-weight: 600;
			text-decoration-line: underline;
			color: #ffffff;
		}
	}
	&__title {
		font-size: 12px;
		line-height: 14px;
		color: #ffffff;
		margin-bottom: 18px;
		@include media-breakpoint-up(xl) {
			margin-bottom: 36px;
		}
	}
	&__logo {
		width: 200px;
		margin-bottom: 45px;
		@include media-breakpoint-up(xl) {
			margin-bottom: 0;
		}
	}
	&__logo-icon {
		width: 100%;
	}

	&__rights {
		font-size: 12px;
		line-height: 14px;
		color: #ffffff;
		opacity: 0.6;
		margin-top: 95px;
		@include media-breakpoint-up(xl) {
			margin-top: 30px;
		}
	}
}
