.header {
	position: fixed;
	left: 0;
	right: 0;
	top: 40px;
	z-index: 10;
	background: #fff;
	@include media-breakpoint-up(xl) {
		// position: relative;
		border-bottom: 1px solid #a0a1a3;
	}

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include media-breakpoint-up(xl) {
			align-items: flex-end;
		}
	}
	&__logo {
		margin: 20px 0;
	}
	&__burger {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		padding: 20px;
	}
	&__nav {
		&.--active {
			transform: translateX(0%) !important;
		}
		@include media-breakpoint-down(xl) {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: white;
			overflow-y: scroll;
			transform: translateX(-100%);
			transition: all 0.25s ease;
		}

		a {
			padding: 24px 20px;
			font-size: 24px;
			line-height: 28px;
			position: relative;
			&::after {
				content: url('/images/dist/arrow.svg');
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 20px;
			}
			&::before {
				content: '';
				position: absolute;
				bottom: 0;
				left: 20px;
				z-index: 99;
				height: 1px;
				width: calc(100% - 40px);
				background: #b4b4b4;
			}
			&.active {
				border-left: 10px solid var(--color-darkblue);
				padding-left: 10px;
				@include media-breakpoint-up(xl) {
					border: none;
					border-bottom: 10px solid var(--color-darkblue);
					padding-bottom: 10px;
					padding-left: 20px;
				}
				&::before {
					width: calc(100% - 30px);
					left: 10px;
				}
			}
			@include media-breakpoint-up(xl) {
				&::after,
				&::before {
					display: none;
				}
			}
			br {
				display: none;
				@include media-breakpoint-up(xl) {
					display: initial;
				}
			}
			@include media-breakpoint-up(xl) {
				padding: 14px 20px 32px;

				line-height: 16px;
				font-size: 14px;
			}
		}

		& .nav {
			&__links {
				margin-top: 100px;
				display: flex;
				flex-direction: column;
				@include media-breakpoint-up(xl) {
					flex-direction: row;
					margin-top: 0;
					margin-right: -20px;
				}
				a:first-of-type {
					@include media-breakpoint-up(xl) {
						display: none;
					}
				}
			}
			&__close {
				position: fixed;
				right: 0;
				top: 24px;
				padding: 20px;
			}
		}
	}
}
