::placeholder {
  color: #666;
}

::selection {
  background-color: $accent;
  color: #fff;
}

a {
  transition: all 0.2s ease;
  color: var(--color-text);
  text-decoration: none;
}
input,
textarea {
  outline: none;
  &:focus:required:invalid {
    border-color: red;
  }
  &:required:valid {
    border-color: green;
  }
}
ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}
body {
  -webkit-font-feature-settings: "lnum";
  -moz-font-feature-settings: "lnum";
  font-feature-settings: "lnum";
  font-family: $userfont;
  line-height: 24px;
  color: var(--color-text);
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
  font-size: 16px;
  padding-top: 142px;
  @include media-breakpoint-up(xl) {
    font-size: 18px;
    line-height: 26px;
    padding-top: 142px;
  }
}
.container {
  position: relative;
  margin: 0 auto;
  max-width: 460px;
  padding: 0 20px;
  @include media-breakpoint-up(xl) {
    max-width: 1440px;
    padding: 0 50px;
  }
}
.mobile-only {
  display: inherit;
  @include media-breakpoint-up(xl) {
    display: none !important;
  }
}
.desktop-only {
  display: none !important;
  @include media-breakpoint-up(xl) {
    display: inherit !important;
  }
}
.page-title {
  font-weight: 300;
  font-size: 60px;
  line-height: 60px;
  margin-bottom: 35px;
  @include media-breakpoint-up(xl) {
    font-size: 72px;
    line-height: 72px;
  }
}
.section-title {
  font-weight: bold;
  margin-bottom: 26px;
  font-size: 16px;
  @include media-breakpoint-up(xl) {
    margin-bottom: 0;
    font-size: 18px;
  }
}
.section-wrapper {
  @include media-breakpoint-up(xl) {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    .section-title {
      max-width: 225px;
    }
  }
}
.section-header {
  @include media-breakpoint-up(xl) {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
.section-header-icon {
  display: none;
  @include media-breakpoint-up(xl) {
    display: block;
    height: 80px;
    width: 80px;
  }
}
.text-mono {
  font-family: Roboto Mono, mono;
  font-size: 11px;
  line-height: 13px;
  color: var(--color-text);
  &--grey {
    color: var(--color-text2);
  }
}
.text-bold {
  font-weight: bold;
  @include media-breakpoint-up(xl) {
    font-size: 48px;
    line-height: 56px;
  }
}
.btn {
  border-radius: 30px;
  min-width: 191px;
  width: fit-content;
  padding: 12px 32px;
  display: flex;
  justify-content: center;
  font-weight: bold;
  border: 0;
  background: transparent;
  @include media-breakpoint-up(xl) {
    min-width: 241px;
    padding: 14px 50px;
  }
  &__primary {
    background: var(--color-text);
    color: var(--color-white);
    &:hover {
      background: #000000;
    }
    &--disabled {
      background: #626775;
    }
  }
  &__secondary {
    border: 1px solid var(--color-text);
    color: var(--color-text);
    &:hover {
      border: 1px solid #000000;
      color: #000000;
    }
    &--disabled {
      border: 1px solid #626775;
      color: #626775;
    }
  }
  &--full-m {
    width: 100%;
    @include media-breakpoint-up(xl) {
      width: auto;
    }
  }
}
.section-content--methodology {
  display: flex;
  flex-direction: column;
  gap: 18px;
  @include media-breakpoint-up(xl) {
    display: grid;
    grid-template-columns: 4fr 1fr 4fr;
    gap: 20px;
  }
}
.methodology-page__graph {
  max-width: 100%;
  width: 100%;
}
html {
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

p {
  margin: 0;
}
.circle {
  min-width: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  @include media-breakpoint-up(xl) {
    min-width: 26px;
    width: 26px;
    height: 26px;
  }
}
