::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

input,
textarea {
	outline: none;
	&:focus:required:invalid {
		border-color: red;
	}
	&:required:valid {
		border-color: green;
	}
}
body {
	font-family: $userfont;
	line-height: $lineheight;
	color: var(--color-text1);
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
	font-size: 16px;
	@include media-breakpoint-up(xl) {
		font-size: 18px;
	}
}
.container {
	margin: 0 auto;
	max-width: 460px;
	padding: 0 20;
	@include media-breakpoint-up(xl) {
		max-width: 1440px;
		padding: 0 50px;
	}
}
