:root {
  --color-button: #3179bb;
  --color-text: #0b132a;
  --color-text2: #90959d;
  --color-table1: #f1f3f6;
  --color-table2: #f9f9f9;
  --color-white: #ffffff;
  --color-darkblue: #1855a6;
  --color-line: #555e6a;
  --color-chart1: #3179bb;
  --color-chart2: #4db1c2;
  --color-chart3: #ce2c44;
  --color-shadeof-blue-1: #e8eef6;
  --color-shadeof-blue-2: #d1dded;
  --color-shadeof-blue-3: #bacce4;
  --color-shadeof-blue-4: #a3bbdb;
  --color-shadeof-blue-5: #8baad3;
  --color-shadeof-blue-6: #7499ca;
  --color-shadeof-blue-7: #5d88c1;
  --color-grey-line: #b4b4b4;
  --color-beige-bg: #fbfafa;
}
